name: Resilience Tests

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - devel
    paths-ignore:
      - 'docker/**'
      - 'tutorial/**'
      - 'ChangeLog.md'
      - 'README.md'
  pull_request:
    types: [ opened, synchronize, reopened ]
    branches:
      - main


jobs:
  test:
    timeout-minutes: 20
    runs-on: ubuntu-latest

    env:
      TOXIPROXY_VERSION: v2.7.0

    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          java-version: 21
          distribution: 'adopt'
          cache: maven
      - name: Start Database
        run: ./docker/start_db.sh
        env:
          STARTER_MODE: cluster
      - name: Info
        run: mvn -version
      - name: Start Toxiproxy
        working-directory: resilience-tests
        run: ./bin/startProxy.sh
      - name: Install
        run: mvn --no-transfer-progress install -DskipTests=true -Dgpg.skip=true -Dmaven.javadoc.skip=true
      - name: Test
        working-directory: resilience-tests
        run: mvn --no-transfer-progress test
